@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Lato|Slabo 27px');

html{
	background-color: rgba(0,0,0,0.1);
}
.title{
	text-align:center;
	font-family: 'Roboto';
	font-size: 70px;
	margin-bottom: 100px;
	font-weight: 300;
}
.textarea{
  display:inline-block;
  float:left;
  font-size: 15px;
  width: 45%;
}
.display{
  margin-left: 100px;
  display:inline-block;
  float:left;
  width: 45%;
}
.container{
  width: 90%;
  margin: 50px 0 0 50px;
}